header{
    background-image: url("../images/header.jpg");
    height:180px;
    color: black;
    text-align: center;
    
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 10px;


    
}
body{
    background-color: rgb(248, 255, 244);
}
h1.titlebar{
 background-color:  rgba(87, 121, 39, 0.9);
 margin: 0px;
 text-align: center;
  font-size: 40px;
  font-weight: bolder;
  padding-top: 10px;
  padding-bottom: 5px;
  letter-spacing: 4px;

}
 h1.titlebar span{
    color: orange;
}
.navi{
    width: 100%;
    position: absolute;
    top: 142px;
    background-color: rgb(77, 101, 29);
    /* padding: 10px; */
    box-sizing: border-box;
    white-space: nowrap;
}

nav a{

    margin: 0px;
    box-sizing: border-box;
    padding: 10px 0px;
    width: 25%;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.7);
}
 nav a:active{
background-color:white ;
}
nav a:focus{
    background-color: white;
}
.active{
   background-color: white;
}
nav a:hover{
    background-color: rgb(77, 101, 29);
    color: white;

}
.left{
    width: 25%;
    background-color: rgb(77, 101, 29);
    display: inline-block;
    float: left;
    height:100vh;
    
}
img{
    margin-top: 20px;
 margin-left: auto;
    margin-right: auto;
    display: block;
    width:80%;
    border: 2px solid black;
    

}

.right{
    
    margin: 0px 20px;
    width: 65%;
    display: inline-block;
    float: left;
}
table{
    margin-left: 30px;
    border-spacing:2px 5px ;
}

th{
    background-color: #74bc27;
    color: white;
    border-radius: 5px ;
    padding: 10px;
    font-size: 18px;
}
th:first-child{
    text-align: left;
}
td{
    background-color: #c2dda6;
    color: black;
    border-radius: 5px ;
    padding: 15px;
    text-align: center;
    width: 150px;
    font-style: oblique;
}
td:first-child{
    width: 400px;
    text-align: left;
}
a:link{
    text-decoration: none;
    color: #40b300;
}
a:visited{
    color:#685105;
}
img:hover{
    opacity: 0.7;
}
div.contact {
    display: block;
    
    width: 80%;
    box-sizing: border-box;
    margin-top: 20px;
    max-height: max-content;
    margin-left: auto;
    margin-right: auto;
}

div.contact a:hover{
    background-color: rgb(77, 101, 29);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}
div.contact a{
    display: inline-block;
    box-sizing: border-box;
    color: black;
    background-color: white;
    width:50%;
    padding: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;


}

.form{
    padding: 30px;
    width: 70%;
    margin: 50px auto;
    background-color: #beda95;
}
legend{
    padding: 5PX;
    margin: 6px;
}
button{
    background-color:  #414141;
    color: white;
    outline: none;
    border-radius: 6px;
    padding: 10PX;
    margin: 6px;
}
input{
    padding: 5PX;
    margin: 5px;
}
